<% provide(:title, 'Sign up') %>

    <head>
      <link href="https://fonts.googleapis.com/css?family=Calligraffitti&display=swap" rel="stylesheet">
      <title><%= yield(:title) %> | Events Sample App</title>
    </head>
    <body> 
       <% if @user.errors.any? %>
          <div id="error_explanation">
            <div class="alert alert-danger">
              The form contains <%= pluralize(@user.errors.count, "error") %>.
            </div>
            <ul class="test1">
            <% @user.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

       <div class="top-container">
            <div class="container img">
              <img src="https://cdn.evbstatic.com/s3-build/perm_001/3640f4/django/images/homefeed/music-campaing-5-1080-desktop.jpg" alt="consumer-header-background">
            </div>

          <div class="container form">
            <%= form_for(@user, url: signup_path) do |f| %>
            <%= render 'shared/error_messages' %>

              <%= f.label :name %>
               <%= f.text_field :name, class: 'form-control' %>

              <%= f.label :email %>
              <%= f.email_field :email, class: 'form-control' %>

              <%= f.label :password %>
               <%= f.password_field :password, class: 'form-control' %>

              <%= f.label :password_confirmation, "Confirmation" %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>

              <%= f.submit "Sign up", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>

