          <div class="container form">
            <%= form_for (@event) do |f| %>
              <div class="form-group">
	                <%= f.label :loaction %>
	                <%= f.text_field  :location,  class: 'form-control',  placeholder: "Event Location" %>
              </div>         
              <div class="form-group">
	                <%= f.label :description %>
	                <%= f.text_field  :description,  class: 'form-control',  placeholder: "Event description" %>
              </div>        
              <div class="form-group">
	                <%= f.date_field :date%>
              </div>
              <%= f.submit "Create Event", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
       <%= link_to "Back To Created Events", events_path %>
