          <div class="top-container">
            <div class="container img bg-event">
              <img src="https://cdn.evbstatic.com/s3-build/perm_001/3640f4/django/images/homefeed/music-campaing-5-1080-desktop.jpg" alt="consumer-header-background">
            <div class="container form new-event">
            <%= form_for (@event) do |f| %>
              <div class="form-group">
	                <%= f.label :loaction %>
	                <%= f.text_field  :location,  class: 'form-control',  placeholder: "Event Location" %>
              </div>         
              <div class="form-group">
	                <%= f.label :description %>
	                <%= f.text_field  :description,  class: 'form-control',  placeholder: "Event description" %>
              </div>        
              <div class="form-group">
	                <%= f.date_field :date%>
              </div>
              <%= f.submit "Create Event", class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>


            </div>
</div>
          
          
          